<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disputes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body data-role="<%= user.Role %>" data-user="<%= user.First_name %>">
  
    <!-- box for the main area (the entire visible screen aside from navbar basically) -->
    <div class="main-box">

        <div class="container-fluid p-5 table-container">
            <div class="d-flex align-items-center mb-2">

                <h2>Disputes</h2>

                <form class="d-flex ms-auto" action="">
                    <label for="disputeSearch"></label>
                    <input type="search" class="form-control" placeholder="Search disputes">
                </form>

            </div>

            <ul class="nav nav-tabs" id="disputesTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#pendingDisputes">Pending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#resolvedDisputes">Resolved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#appealedDisputes">Appeals</a>
                </li>
                <li class="nav-item"> 
                    <a href="#allDisputes" class="nav-link" data-bs-toggle="tab" aria-current="page">All Issues</a>
                </li>
                
            </ul>

            <div class="tab-content p-2">
                <div class="tab-pane fade" id="allDisputes">
                    <table class="table">
                        
                        <thead> 
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Vendor</th>
                                <th scope="col">Date/Time Posted</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody data-bs-toggle="modal" data-bs-target="#disputeModal">
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade show active" id="pendingDisputes">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Vendor</th>
                                <th scope="col">Date/Time Posted</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody data-bs-toggle="modal" data-bs-target="#disputeModal">
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="resolvedDisputes">
                    <table class="table">
                        <thead>
                            <tr>
                               <th scope="col">Order ID</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Vendor</th>
                                <th scope="col">Date/Time Posted</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody data-bs-toggle="modal" data-bs-target="#disputeModal">
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="appealedDisputes">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Vendor</th>
                                <th scope="col">Date/Time Posted</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody data-bs-toggle="modal" data-bs-target="#disputeModal">
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                            <tr>
                                <td>#000000</td>
                                <td>[username]</td>
                                <td>[vendor]</td>
                                <td>MM/DD/YYYY HH:MM:SS</td>
                                <td>$00.00</td>
                                <td><span class="status-badge">Status</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>

        <!-- modal that pops up with further user info -->
        <div class="modal fade" id="disputeModal" tabindex="-1" aria-labelledby="disputeModal" aria-hidden="true">
            <div class="modal-dialog modal-lg  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="disputeInfoModal">Dispute Info</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="disputesModalBody">
                        <p><strong>Customer:</strong> [info]</p>
                        <p><strong>Vendor:</strong> [info]</p>
                        <hr>
                        <p><strong>Order ID:</strong> [info]</p>
                        <p><strong>Date:</strong> [info]</p>
                        <p><strong>Total:</strong> [info]</p>
                        <p><strong>Status:</strong> [info]</p>
                        <hr>
                        <p class="m-0"><strong>Dispute Description:</strong> [info]</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" id="orderModalResolveBtn">Mark as Resolved</button>
                        <button type="button" class="btn" id="orderModalMoreInfoBtn">Request Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/common-elements.js"></script>
</body>
</html>
